@model IList<ProductOverviewModel>
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="sb-recently-viewed-products hidden-sm hidden-xs">
        <div class="sb-widget">
            <h4 class="sb-title">@T("Products.RecentlyViewedProducts")</h4>
            <div id="recently-viewed-products-carousel" class="owl-carousel">
            @for (int i = 0; i < Model.Count; i++)
            {
                var product = Model[i];
                <div class="product-wrapper">
                    <div class="product-head">
                        <div class="product-image">
                            <img alt="@product.DefaultPictureModel.AlternateText" src="@product.DefaultPictureModel.ImageUrl" title="@product.DefaultPictureModel.Title" />
                        </div>
                    </div>
                    <div class="product-content">
                        <a class="product-name" href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@product.Name</a>
                        <div class="product-price">
                            <span>$100</span>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>

    <script>
        $('#recently-viewed-products-carousel').owlCarousel({
            loop: false,
            margin: 10,
            nav: true,
            items: 1,
            navText: ['<span class="button-prev"></span>', '<span class="button-next"></span>']
        })
    </script>
}